SESSION_SECRET_KEY=SESSION_SECRET_KEY
SSL_CHECK=SSL_CHECK
APP_PORT=APP_PORT

DB_URL=DB_URL
POSTGRES_USER=POSTGRES_USER
POSTGRES_PASSWORD=POSTGRES_PASSWORD
POSTGRES_DB=POSTGRES_DB

REDIS_HOST=REDIS_HOST
REDIS_PORT=REDIS_PORT
REDIS_DB=REDIS_DB
REDIS_PASSWORD=REDIS_PASSWORD

NATS_USER=NATS_USER
NATS_PASSWORD=NATS_PASSWORD

CENTRIFUGO_ADMIN_PASSWORD=CENTRIFUGO_ADMIN_PASSWORD
CENTRIFUGO_ADMIN_SECRET=CENTRIFUGO_ADMIN_SECRET
CENTRIFUGO_CLIENT_TOKEN_HMAC_SECRET_KEY=CENTRIFUGO_CLIENT_TOKEN_HMAC_SECRET_KEY
CENTRIFUGO_HTTP_API_KEY=CENTRIFUGO_HTTP_API_KEY
CENTRIFUGO_ENGINE_REDIS_DB=CENTRIFUGO_ENGINE_REDIS_DB

GOOGLE_CLIENT_ID=GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=GOOGLE_CLIENT_SECRET

GITHUB_CLIENT_ID=GITHUB_CLIENT_ID
GITHUB_CLIENT_SECRET=GITHUB_CLIENT_SECRET

TELEGRAM_BOT_TOKEN=TELEGRAM_BOT_TOKEN

YANDEX_CLIENT_ID=YANDEX_CLIENT_ID
YANDEX_CLIENT_SECRET=YANDEX_CLIENT_SECRET

STACKOVERFLOW_API_KEY=STACKOVERFLOW_API_KEY
STACKOVERFLOW_CLIENT_ID=STACKOVERFLOW_CLIENT_ID
STACKOVERFLOW_CLIENT_SECRET=STACKOVERFLOW_CLIENT_SECRET
