{% extends 'base.html' %}

{% block title %}Login - Smth-P{% endblock %}
{% block body %}
    <div id="errors">
        {% if msg %}
            <div class="error-msg" onclick="this.remove()" title="Click to close">
                {% if msg == "access_denied" %}You refused authorization
                {% elif msg == "session_expired" %}Your session has expired
                {% else %}Error occurred{% endif %}
            </div>
        {% endif %}
    </div>
    <h1 class="glow-text">Smth-P</h1>
    <div class="row-group">
        <a href="{{ url_for('google_login') }}" class="login-btn">Log in via Google</a>
        <a href="{{ url_for('github_login') }}" class="login-btn">Log in via Github</a>


        <button onclick="loginTelegram(event)" class="login-btn">Log in via Telegram</button>
        <div id="tg-hidden" style="display:none"></div>
        <script async src="https://telegram.org/js/telegram-widget.js?22"></script>

        <script type="text/javascript">
            function onTelegramAuth(user) {
                const params = new URLSearchParams(user).toString();
                window.location.href = "/auth/telegram/callback?" + params;
            }

            function loginTelegram(event) {
                const btn = event.currentTarget;
                btn.classList.add('htmx-request');

                if (!window.Telegram || !window.Telegram.Login) {
                    alert("Telegram script not loaded yet!");
                    btn.classList.remove('htmx-request');
                    return;
                }

                window.Telegram.Login.auth(
                    { bot_id: '8468644266', request_access: 'write' },
                    (user) => {
                        if (user) {
                            onTelegramAuth(user);
                        } else {
                            btn.classList.remove('htmx-request');
                        }
                    }
                );
            }
        </script>
    </div>

{% endblock %}
