{% extends 'base.html' %}

{% block title %}Login - Smth-P{% endblock %}
{% block body %}
    <div class="error-container">
        {% if msg %}
            <div class="error-msg">
                {% if msg == "access_denied" %}You refused authorization{% endif %}
                {% if msg == "session_expired" %}Your session has expired{% endif %}
            </div>
        {% endif %}
    </div>

    <h1 class="glow-text">Smth-P</h1>
    <button hx-get="{{ url_for('login') }}"
            class="login-btn"> Log in via Google
    </button>
{% endblock %}
