{% extends 'base.html' %}

{% block title %}Login - Smth-P{% endblock %}
{% block body %}
    <div id="errors">
        {% if msg %}
            <div class="error-msg" onclick="this.remove()" title="Click to close">
                {% if msg == "access_denied" %}You refused authorization
                {% elif msg == "session_expired" %}Your session has expired
                {% else %}Error occurred{% endif %}
            </div>
        {% endif %}
    </div>

    <h1 class="glow-text">Smth-P login</h1>
    <nav class="auth-nav">
        <a hx-get="{{ url_for('google_login') }}" hx-target="this" class="login-btn">with Google</a>
        <a hx-get="{{ url_for('github_login') }}" hx-target="this" class="login-btn">with GitHub</a>
        <a hx-get="{{ url_for('yandex_login') }}" hx-target="this" class="login-btn">with Yandex</a>
        <a hx-get="{{ url_for('stackoverflow_login') }}" hx-target="this" class="login-btn">with Stack Overflow</a>
        <button onclick="loginTelegram(event)" class="login-btn">with Telegram</button>
    </nav>

        <div id="tg-hidden" style="display:none"></div>
        <script async src="https://telegram.org/js/telegram-widget.js?22"></script>

        <script type="text/javascript">
            const TGAuth = {
                bot_id: '{{ bot_id }}',

                handleAuth: function(user) {
                    const params = new URLSearchParams(user).toString();
                    window.location.href = "/auth/telegram/callback?" + params;
                },

                login: function(event) {
                    const btn = event.currentTarget;
                    if (!window.Telegram || !window.Telegram.Login) {
                        alert("Telegram script not loaded yet!");
                        return;
                    }

                    btn.classList.add('htmx-request');
                    window.Telegram.Login.auth(
                        { bot_id: this.bot_id, request_access: 'write' },
                        (user) => {
                            if (user) this.handleAuth(user);
                            else btn.classList.remove('htmx-request');
                        }
                    );
                }
            };
            function loginTelegram(event) {
                TGAuth.login(event);
            }
        </script>
{% endblock %}
